<div class="relative w-full h-screen bg-cover bg-center" style="background-image: url('/assets/background.jpg');">
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold typing">Welcome to My User Management System!</h1>
        <div class="text-white text-xl font-bold name typing mt-2">-by RAJAT VERMA</div>
    </div>

    <div class="absolute bottom-4 right-4">
        <button mat-fab color="primary" (click)="navigateToProfile()">
            <img src="assets/arrow.png" alt="">
          </button>
    </div>
</div>